<title>WebRTCを使ったビデオチャットとかやってみた系の遊び場</title>
<meta name="description" content="WebRTCってなに？とか、WebRTCを実装したいというときに、とりあえずつないだり、どんなもの検証したりしたいときときのための場所">
<meta property="og:locale" content="ja_JP">
<meta property="og:type" content="website">
<meta property="og:title" content="WebRTCを使ったビデオチャットとかやってみた系の遊び場">
<meta property="og:description" content="WebRTCってなに？とか、WebRTCを実装したいというときに、とりあえずつないだり、どんなもの検証したりしたいときときのための場所">
<meta property="og:url" content="<%= tools_webrtcs_url %>">
<meta property="og:site_name" content="<%= homepage_sitename %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="WebRTCってなに？とか、WebRTCを実装したいというときに、とりあえずつないだり、どんなもの検証したりしたいときときのための場所">
<meta name="twitter:title" content="WebRTCを使ったビデオチャットとかやってみた系の遊び場">

<div class="pure-g">
  <div class="pure-u-1-3">
    <p>とりあえず適当に誰か繋がる人がいたらビデオチャットにつながるかもしれません</p><br>
    <p><%= link_to("見てみる", freedom_videochat_tools_webrtcs_url) %></p>
  </div>
</div>