<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="result.html">Results</a></li>
    <li><a href="landing.html">Landing</a></li>
    <li><a href="generic.html">Generic</a></li>
    <li><a href="elements.html">Elements</a></li>
  </ul>
  <ul class="actions vertical">
    <li><a href="#" class="button special fit">Get Started</a></li>
    <li><a href="#" class="button fit">Log In</a></li>
  </ul>
</nav>

<!-- タイトル-->
<section id="banner" class="style6">
  <div class="inner">
    <header class="major">
      <h1>Results</h1>
    </header>
    <div class="major">
      <p>これはFakeの結果【結果】ですかな？</br>
        詳細か下記の表を御覧ください。
      </p>
    </div>
  </div>
</section>

<div id="main" class="alt">
  <!-- One -->
  <section id="two">
    <div class="inner">
      <!-- Request Pic -->
      <section id="one" class="tiles">
        <span class="image">
          <header class="major">
            <h3><a>投稿画像</a></h3>
            <p>【ユーザー名】が投稿した結果</p>
          </header>
          <%= image_tag("feykun/fake1.jpg") %>
        </span></br>
        <span class="image">
          <header class="major">
            <h3><a >Object認識画像</a></h3>
            <p>ニューラルネットワークを使用したDeep learningでの結果</p>
          </header>
          <%= image_tag("feykun/fake2.png") %>
        </span>
        <span class="image">
          <header class="major">
            <h3><a>ElA（Error level analysis）画像</a></h3>
            <p>Open CVを使用したエラーレベル分析結果。Object認識画像</p>
          </header>
          <%= image_tag("feykun/fake3.jpg") %>
        </span>
        <span class="image">
          <header class="major">
          <%= image_tag("feykun/logo_noname.png") %>
        </span>
      </section>
    </div>

    <!-- Table -->
    <h1>Result Table</h1>
    <div class="table-wrapper">
    <table class="alt">
       <thead>
         <tr>
           <th>Name</th>
           <th>Description</th>
           <th>Price</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Item1</td>
           <td>Ante turpis integer aliquet porttitor.</td>
           <td>29.99</td>
         </tr>
	   </tbody>
       <tfoot>
         <tr>
           <td colspan="2"></td>
           <td></td>
         </tr>
      </tfoot>
    </table>
  </div>
</div>