@charset "UTF-8";
/* スタイルシートのエンコーディングを UTF-8 にする*/

/* ウェブページ上で文字と同じように表示できるアイコンフォント、Webアイコンフォントを読み込む */
/* http://fontawesome.io/ */
@import url("/assets/libraries/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
}


/* to remove the top and left whitespace */

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(194, 229, 156), rgb(100, 179, 244));
}
  width: 100%;
  height: 100%;
}


/* just to be sure these are full screen*/

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 760px) {
  /* style */
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}

canvas {
  display: block;
}


/* To remove the scrollbars */

.home-menu {
  display: flex;
  /* スクロールしても一が固定されたまま */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.home-menu a {
  color: #FFFFFF;
}

.page-scroll {
  position: fixed;
  top: 50%;
  right: 3.125%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page-scroll-item a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
}

.page-scroll-item a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.page-scroll-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
  border-radius: 50%;
  background-color: #fff;
}


/****************************** animation setting */

.page-scroll-item a:before {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.page-scroll-item.is-current a:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


/*
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
*/