.top-mv {
  position:
  relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  /* ボックスの範囲内に内容が入りきらない場合に、はみ出た部分の表示の仕方を指定する際に使用 */
  overflow: hidden;
}

.top-mv-visual-bg {
  position:
  relative;
  height: 100%;
  overflow: hidden;
}

.top-mv-visual-bg-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-mv-visual-logo{
  z-index: 4;
  animation-iteration-count: infinite;
}