<article class="content forms-page">
  <div class="title-block">
    <!-- for debug -->
    <div id="debug_msg0"></div>
    <div id="debug_msg1"></div>
    <div id="debug_msg2"></div>
    <div id="debug_msg3"></div>

    <h3 class="title"> 想いを届ける </h3>
    <!-- <p class="title-description"> xxxxさんへに感謝の気持ちを伝えよう </p> -->
  </div>
  <!-- <div class="subtitle-block">
                <h3 class="subtitle"> 気持ちを伝えよう </h3>
            </div> -->
  <section class="section">
    <div class="row sameheight-container">
      <div class="col-md-6">
        <div class="card card-block sameheight-item">
          <!-- <div class="title-block">
              <h3 class="title"> Underlined Inputs </h3>
            </div> -->
          <form id="my_form" action="#" method="post" enctype="multipart/form-data" role="form">
            <div class="form-group">
              <label class="control-label">写真</label>
              <div>
                <!-- <p id="preview"></p> -->
                <p class="upload">
                  <input type="file" name="image_files[]" multiple="multiple" accept="image/*" title="画像をアップロードする" style="width:100%;" />
                </p>
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="control-label">音声</label>
              <div>
                <label>
                  <p class="upload">
                    <input type="file" name="audio_file"
                      multiple="multiple" accept="audio/*"
                      title="音声をアップロードする" style="width:100%;"/>
                  </p>
                </label>
              </div>
            </div> -->
            <div class="form-group">
              <label class="control-label">音声</label>
              <div>
                <p class="upload">
                  <input type="file" name="audio_file" multiple="multiple" accept="audio/*" title="音声をアップロードする" style="width:100%;" />
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">メッセージ</label>
              <textarea name="say_comment" ows="3" class="form-control underlined"></textarea>
            </div>
            <div class="form-group">
              <label class="control-label">テーマ</label>
              <div>
                <label>
                  <input class="radio" type="radio" name="theme" value="1" checked="checked">
                  <span>これからもよろしくお願いします！</span>
                </label>
              </div>
              <div>
                <label>
                  <input class="radio" type="radio" name="theme" value="2">
                  <span>お誕生日おめでとう！</span>
                </label>
              </div>
              <div>
                <label>
                  <input class="radio" type="radio" name="theme" value="3">
                  <span>お疲れさま！</span>
                </label>
              </div>
              <div>
                <label>
                  <input class="radio" type="radio" name="theme" value="4">
                  <span>いらっしゃいませ！</span>
                </label>
              </div>
              <div>
                <label>
                  <input class="radio" type="radio" name="theme" value="5">
                  <span>ありがとう！</span>
                </label>
              </div>
            </div>
          </form>
          <button type="submit" class="btn btn-success" onclick="file_upload()">送信</button>
          <!-- 即時でダイアログ表示 -->
                    <!-- <button
                                type="submit"
                                data-toggle="modal"
                                data-target="#confirm-modal"
                                value='confirm-modal'
                                class="btn btn-success"
                                onclick="file_upload()">送信
                            </button> -->

        </div>
      </div>
    </div>
  </section>
</article>
<footer class="footer">
    <div class="footer-block buttons">
        created by
        <a href="#">きのこ</a>
        </li>
    </div>
    <!-- <div class="footer-block author">
            <ul>
                <li> created by <a href="#">きのこ</a> </li>
            </ul>
        </div> -->
</footer>
<div class="modal fade" id="modal-media">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Media Library</h4>
      </div>
      <div class="modal-body modal-tab-container">
        <ul class="nav nav-tabs modal-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
          </li>
        </ul>
        <div class="tab-content modal-tab-content">
          <div class="tab-pane fade" id="gallery" role="tabpanel">
            <div class="images-container">
              <div class="row"> </div>
            </div>
          </div>
          <div class="tab-pane fade active in" id="upload" role="tabpanel">
            <div class="upload-container">
              <div id="dropzone">
                <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                  <div class="dz-message-block">
                    <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Insert Selected</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="confirm-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fa fa-check-square"></i> 完了
        </h4>
      </div>
      <div class="modal-body">
        <p>あなたの気持ちを想いをお届けします</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.reload();">OK</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="confirm-modal-error">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">エラー</h4>
      </div>
      <div class="modal-body">
        <p>エラーが発生しました。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>