<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8"/> 
<!--         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
        <script type="text/javascript" src="./js/jquery.min.js"></script>
        <script type="text/javascript" src="./js/exif.js"></script>
        <script type="text/javascript" src="./js/ios-imagefile-megapixel.js"></script>
        <script type="text/javascript" src="./js/Sortable.js"></script>
<!--         <script type="text/javascript" src="./js/main.js"></script> -->
        <meta name="viewport" content="width=320">
    </head>
    
    <body>
        Version 0.04<br />
        
        <input id="file" type="file" multiple accept="image/jpeg, image/gif, image/png">
        <br />
        <br />
        <input type="button" id="upload_button" value="送信">
        <br />
        <br />
        <div id="debug_msg0"></div><br />
        <div id="debug_msg1"></div><br />
        <div id="debug_msg2"></div><br />
        <div id="debug_msg3"></div><br />
        
        <script type="text/javascript" src="./js/main.js"></script> 
         
    </body>
    
</html>