<%= javascript_include_tag 'bannosama/exif.js' %>
<%= javascript_include_tag 'bannosama/ios-imagefile-megapixel.js' %>
<%= javascript_include_tag 'bannosama/Sortable.js' %>

Version 0.04<br />
<input id="file" type="file" multiple accept="image/jpeg, image/gif, image/png">
<br />
<br />
<input type="button" id="upload_button" value="送信">
<br />
<br />
<div id="debug_msg0"></div><br />
<div id="debug_msg1"></div><br />
<div id="debug_msg2"></div><br />
<div id="debug_msg3"></div><br />