twitter:
  citore:
    consumer_key:
    consumer_secret:
    bot:
      access_token_key:
      access_token_secret:
  sugarcoat:
    consumer_key:
    consumer_secret:
    bot:
      access_token_key:
      access_token_secret:
  fey_kun_ai:
    consumer_key:
    consumer_secret:
    bot:
      access_token_key:
      access_token_secret:

aitalk:
  username:
  password:

watson:
  username:
  password:

microsoft:
  client_id:
  client_secret:

yahoo:
  appId:

metadata_wordassociator:
  username:
  password:

metadata_general:
  apikey:

facebook_bot:
  access_token:
  validation_token:
  secret_token:

google_api:
  key:

line_bot:
  sugarcoat:
    channel_id:
    channel_token:
    channel_secret:
  spotgacha:
    channel_id:
    channel_token:
    channel_secret:
  citore:
    channel_id:
    channel_token:
    channel_secret:
  job_with_life:
    channel_id:
    channel_token:
    channel_secret:
  shiritori:
    channel_id:
    channel_token:
    channel_secret:
  mone:
    channel_id:
    channel_token:
    channel_secret:

recruit:
  apikey:

gnavi:
  apikey:

twitcas:
  client_id:
  client_secret:

slideshare:
  apikey:
  shared_secret:

qiita:
  taptappun:
    accesstoken:

flickr:
  apikey:
  secret: