/**/

/*
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 769px) {
}*/



body{text-align:center;
  background-color:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,p,blockquote{
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin:0;padding:0}

 ul li{list-style:none;}


div.contener{width:360px;text-align:center;margin:0 auto;}
img.logo {width:200px}

div.header:after{
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;}

  ul.list{padding:0 0;margin:0 0 50px 0;;border-left:1px solid #ccc;border-top:1px solid #ccc}
    ul.list li{border-right:1px solid #ccc;border-bottom:1px solid #ccc;margin:0 0;padding:2px;text-align:left;}

ul.btn_s{padding:0 0;margin:20px 0 0 0;}
ul.btn_s li{display:block;}
ul.btn_s li a{text-decoration:none;background-color:#961b7d;color:#fff;padding:10px 15px}
ul.btn_s li a:hover{background-color:#38032d;}
