<%= javascript_include_tag 'homepage/top.js' %>
<div class="top-mv ">
  <div class="top-mv-visual-bg">
    <div class="top-mv-visual-bg-item" data-imagepathes="<%= [image_path("homepage/top-mv-mask-a.jpg"), image_path("homepage/top-mv-mask-e.jpg"), image_path("homepage/top-mv-mask-g.jpg"), image_path("homepage/top-mv-mask-m.jpg")].to_json %>">
      <canvas id="bgimage"></canvas>
    </div>
    <div class="top-mv-visual-logo">
      <%= image_tag("homepage/logo.png") %>
    </div>
  </div>
</div>
