<!DOCTYPE html>
<html lang="ja">
<body style="background: #000;margin:0;padding:0;text-align:center;">
  <%= link_to(image_tag("page03.png", style: "width:100%"), "http://m.me/346231432435056") %></a>
</body>
</html>