<h2>音楽についてやりたいことを選んでくさい</h2>
<div class="pure-g">
  <div class="pure-u-1">
    <%= link_to("Spotifyでマイリストの音楽を聴く", listen_from_spotify_tools_audio_url) %>
  </div>
  <div class="pure-u-1">
    <%= link_to("音声ファイルを集める", crawl_tools_audio_url) %>
  </div>
</div>