<script>
  var url = window.location.href
  var host = window.document.location.host;
  var ws;
  if(url.startsWith("https://")){
    ws = new WebSocket('wss://' + host + "/cable");
  }else{
   ws = new WebSocket('ws://' + host + "/cable");
  }
  var create_room = function(){
    var command = {command: "subscribe"}
    var channel_params = {channel: "StreamingChannel", stream_id: <%= @live_straem.id %>}
    command["identifier"] = JSON.stringify(channel_params);
    ws.send(JSON.stringify(command));
  }
  ws.onopen = function(event){
    create_room();
  };
  ws.onmessage = function (event) {
    console.log(event);
    //$("#list").append($('<li>').text(event.data));
  };
</script>
    
<div class="contener">
  <h2>配信中</h2>
  <ul id="list"></ul>
  <ul class="btn_s">
    <li><%= link_to("エンド", page_moi_voice_top_path) %></li>
  </ul>
</div>