<div class="contener">
  <h2>配信中</h2>
  <ul class="list">
    <li>あああ</li>
    <li>あああ</li>
    <li>あああ</li>
    <li>あああ</li>
    <li>あああ</li>
    <li>あああ</li>
  </ul>
  <ul class="btn_s">
    <li><%= link_to("エンド", page_moi_voice_top_path) %></li>
  </ul>
</div>